name: Monthly build

on:
    schedule:
        - cron: '0 1 1 * *'
    workflow_dispatch:

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v2
            with:
              ref: main
          - name: Monthly build
            uses: elgohr/Publish-Docker-Github-Action@master
            with:
              name: monolithprojects/systemd-rockylinux8
              username: monolithprojects
              password: ${{ secrets.TOKEN }}
              registry: docker.io
              dockerfile: Dockerfile
              snapshot: true